.git
**/.git
**/.git/**
build
dist
wheelhouse
.venv
**/__pycache__
**/*.pyc
**/*.pyo
.pytest_cache
.ruff_cache
.mypy_cache
.cache
3rdparty/tvm/3rdparty/cutlass/EULA.txt
3rdparty/tvm/3rdparty/cutlass/python/CuTeDSL
3rdparty/tvm/3rdparty/cutlass/examples/python/CuTeDSL
3rdparty/tvm/3rdparty/cutlass/docs
3rdparty/tvm/3rdparty/cutlass/media
3rdparty/tvm/3rdparty/cutlass_fpA_intB_gemm/cutlass/docs
3rdparty/tvm/3rdparty/cutlass_fpA_intB_gemm/cutlass/media
3rdparty/tvm/3rdparty/libflash_attn/cutlass/docs
3rdparty/tvm/3rdparty/libflash_attn/cutlass/media
3rdparty/cutlass/EULA.txt
3rdparty/cutlass/python/CuTeDSL
3rdparty/cutlass/docs
3rdparty/cutlass/media
